# Core functionality - changes here should be rare!
/src/app.py                   @Brutalbeard
/src/backend/database.py      @Brutalbeard
/src/backend/routers/auth.py  @Brutalbeard

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Brutalbeard
